.container {
  letter-spacing: 0.00625rem;
  max-width: 24rem;
  position: relative;
  padding-top: 1rem;
  width: 100%;
  z-index: 1;

  &.light {
    :global .cds--search-input {
      background-color: var(--cds-ui-background);
      color: var(--cds-text-01);
      border-radius: var(--cds-border-radius, 0);
    }
    
    :global .cds--search-close::before {
      background-color: var(--cds-text-03);
      width: 0.0625rem;
    }

    .resultsContainer {
      background: var(--cds-ui-background);

      &.open {
        border: 0.0625rem solid var(--cds-text-03);
      }
    }
  }

  &.dark {
    :global .cds--search-input {
      background-color: var(--cds-bmrg-primary);
      border-radius: var(--cds-border-radius, 0);
      color: #fff;
      
      &::placeholder {
        color: var(--cds-active-ui);
      }
    }

    :global .cds--search-magnifier {
      fill: var(--cds-active-ui);
    }
    
    :global .cds--search-close {

      &::before {
        background-color: var(--cds-active-ui);
        width: 0.0625rem;
      }

      svg path {
        fill: var(--cds-active-ui);
      }
    }

    .resultsContainer {
      background: var(--cds-bmrg-primary);

      &.open {
        border: 0.0625rem solid var(--cds-bmrg-header-hover-background);
      }
    }
  }
}

.resultsContainer {
 
  max-height: 80vh;
  width: 100%;
  overflow: auto;
  position: absolute;

  &.left {
    left: 0rem;
  }
  &.right {
    right: 0rem;
  }
}

@media (max-width: 42.5rem) {
  .container {
    width: 100%;
  }
}
