.container {
  position: relative;

  .inputContainer {
    display: flex;
    position: relative;
  }
  .downshift {
    position: relative;
    width: 100%;
  }

  .optionsContainer {
    background-color: var(--cds-ui-01);
    max-height: 12.5rem;
    position: absolute;
    top: 4rem;
    width: 100%;
    z-index: 10;

    &.basicDetails {
      width: 29.25rem;
    }
  }

  .options {
    max-height: 6rem;
    overflow-y: auto;
    width: 100%;
  }

  .option {
    background-color: var(--cds-ui-02);
    cursor: pointer !important;
    height: 2.5rem;
    padding: 0.6875rem 1.5rem 0.6875rem 1rem;
    transition: border-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), color 70ms cubic-bezier(0.2, 0, 0.38, 0.9);

    + .option {
      border-top: 0.0625rem var(--cds-ui-03) solid;
    }

    &[aria-selected="true"] {
      background-color: var(--cds-active-ui);
    }
  }

  .optionUse {
    bottom: -2.5rem;
    color: var(--cds-interactive-01);
    position: absolute;
    width: 100%;
  }

  .message {
    color: var(--cds-support-02);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.25rem;
    opacity: 0;
    &.isValid {
      opacity: 1;
    }
  }

  .validityStatusComponent {
    font-size: 0.75rem !important;
    height: 2rem;
    margin-left: 1rem !important;
    margin-top: 1.75rem !important;

    :global .cds--inline-loading__checkmark-container {
      fill: var(--cds-support-02);
    }
  }
}
