// Licensed Materials - Property of IBM
// © Copyright IBM Corporation 2018. All Rights Reserved.
// Author: Timothy Bula
// GBS Engineering

@use "Styles/mixins" as *;
@use "Styles/variables" as *;

.container {
  grid-area: sidenav;
  overflow: auto;
  .sidenav {
    background-color: var(--cds-layer);
    font-weight: 600;
    height: 100%;
    padding-top: 1rem;
    width: 3 !important;
    :global .cds--bmrg-feature-sidenav-links {
      padding-bottom: 3rem;
    }
    :global .cds--bmrg-feature-sidenav-active-link {
      border-left-color: var(--cds-interactive-01);
    }
    :global .cds--bmrg-feature-sidenav-link-content {
      width: 100%;
    }
  }
  .sidenavLink {
    color: var(--cds-text-secondary);
    height: 2rem;
    &.disabled {
      color: var(--cds-disabled-03);
      cursor: initial;
      svg {
        fill: var(--cds-disabled-03);
      }
      &:focus {
        outline: none !important;
      }
    }
    &.icon {
      padding-left: 0.25rem;
    }
    &:focus {
      outline: 0.125rem solid var(--cds-interactive-01) !important;
    }
  }

  .sidenavStandardLink {
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    height: 2.5rem;
    padding-left: 1.15rem;
    &.icon {
      padding-left: 0.5rem;
    }
    &.hasSubtitle {
      align-items: start;
      padding-top: 0.2rem;
      .tooltipIcon {
        margin-top: 0.2rem;
      }
    }
  }

  .sidenavHomeLink {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .sidenavAccountLink {
    align-items: center;
    flex-direction: row-reverse;
    font-weight: 600;
    justify-content: space-between;
    :global .cds--bmrg-feature-sidenav-link-content {
      align-items: center;
      display: flex;
    }
  }

  .sidenavProjectLink {
    align-items: center;

    font-weight: 400;
    justify-content: space-between;
    padding-left: 1.15rem;
    .tooltipIcon {
      //stopping project icons from being shrunk
      max-height: max-content;
      max-width: max-content;
    }
  }

  .hasIcon {
    flex-direction: row-reverse;
  }

  .teamName {
    letter-spacing: 0;
    line-height: 1.125rem;
    @include multiline-text-overflow-ellipsis(1);
  }

  .teamDetail {
    color: var(--cds-text-secondary);
    font-size: 0.625rem;
    letter-spacing: 0.02rem;
    line-height: 0.9375rem;
    font-weight: 400;
  }

  .emptyTitle {
    color: var(--cds-text-01);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25rem;
    margin-bottom: 0.625rem;
  }

  .emptySubtitle {
    color: var(--cds-text-02);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 0.9375rem;
  }

  .emptyContainer {
    margin-left: 1.8125rem;
    margin-top: 1rem;
  }

  .sidenavTooltip {
    max-width: 9rem !important;
    text-align: center !important;
  }

  .createJoinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
  }

  .buttonContainer {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1rem;

    :global .cds--btn {
      width: 100%;
    }
  }

  .homeLinkSkeleton {
    margin: 0rem 1rem 1.5rem !important;
    height: 3rem !important;
    width: calc(100% - 2rem) !important;
  }

  .createJoinBtnSkeleton {
    margin: 0rem 2rem !important;
    width: calc(100% - 4rem) !important;
  }

  .teamLinkSkeleton {
    height: 4rem !important;
    margin: 0.75rem 1rem !important;
    width: calc(100% - 2rem) !important;
  }

  .divider {
    background-color: var(--cds-active-ui);
    border: 0;
    height: 0.0625rem;
    margin: 1rem 0;
    width: 100%;
  }

  .tooltipIcon {
    max-height: 0.725rem;
    max-width: 0.725rem;
    min-height: 0.625rem !important;
    min-width: 0.625rem !important;
  }

  .tooltipIconDigite {
    fill: #198038 !important;
  }
}
