.container {
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  width: 100%;
}

.metadata {
  align-items: baseline;
  display:flex;
  flex-flow: row wrap;
  margin: 0 1rem;
  span {
    font-size: 0.75rem;
    letter-spacing: 0.01625rem;
    padding-right: 1rem;
  }
}

.gitHubLink {
  align-items: center;
  display: inline-flex;
  margin-top: 0.875rem;
  svg {
    height: 0.875rem;
    width: 0.875rem;
    margin-left: 0.25rem;
  }
}


.nextPreviousContainer {
  padding: 3.125rem 0;
}

@media (max-width: 48rem) {
  .editContainer {
    right: 3rem;
  }
}
